/* 
    main orange: #f26200;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonials .wrapper, .testimonial-header, header nav, .header-content, footer .wrapper,
.principles .wrapper, .blog-posts-slider, .blog-post-author, .clients, .footer-main-contents, .footer-logos {
    display: flex;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

section {
    margin-top: 89px;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 400;    
    font-size: 200%;
    margin-bottom: 52px;
}

h3 {
    font-weight: 400;
}

h4 {
    color: #f26200;
}

.wrapper {
    max-width: 1110px;
    margin: auto;
    padding: 0 31px;
    box-sizing: content-box;
}

header {
    height: 100vh;
    min-height: 677px;
    max-height: 812px;
}

header, .blog, .testimonials article, footer {
    background:#f5ecdb;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
}

nav li:first-child, nav .menu-icon, .blog-buttons span:nth-child(3), .blog-buttons span:nth-child(4),
.blog-buttons span:nth-child(5), .blog-buttons span:nth-child(6) {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav li:nth-child(2) a, nav li a:hover {
    color: #000;
}

nav li:last-child {
    margin-right: 10px;
}

nav li {
    display: inline-block;
    margin-right: 34px;
}

nav li a {
    color: #595959;
    transition: 0.3s;
    display: block;
}

.header-content {
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0 auto;
    max-width: 612px;
    text-align: center;
}

.header-content h1 {
    color: #f26200;
    font-size: 395%;
    margin-bottom: 25px;
    line-height: 130%;
}

.header-content p {
    font-size: 112%;
    line-height: 170%;
}

.header-content a {
    width: 70px;
    height: 70px;
    background: #f26200;
    border-radius: 100px;
    margin-top: 48px;
}

.header-content a span {
    color: #fff;
    margin: 23px;
}

.principles .wrapper div {
    margin-right: 50px;
}

.principles span {
    color: #f26200;
    font-size: 405%;
}

.principles h3 {
    margin: 18px 0;
    font-size: 130%;
}

.principles p, .testimonials article, .blog p, .blog-buttons span, footer {
    color: #757575;
}

.principles p {
    font-size: 103%;
    line-height: 155%;
}

.portfolio-images {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-images div {
    overflow: hidden;
}

.portfolio-images img, .blog-posts img {
    width: 100%;
    display: block;
}

.portfolio-images div img {
    transition: transform 0.3s
}

.portfolio-images img:hover {
    transform: scale(1.050);
}

.testimonials h2 {
    text-align: center;
}

.testimonials .wrapper, .clients {
    justify-content: center;
}

.testimonials article {
    padding: 30px;
    margin-right: 30px;
}

.testimonials p {
    line-height: 170%;
}

.testimonials article:last-child {
    margin-right: 0;
}

.testimonial-header img, .blog-post-author img {
    width: 65px;
    height: 65px;
    border-radius: 100px;
}

.testimonial-header h4 {
    font-size: 112%;
    line-height: 120%;
    margin-bottom: 3px;
}

.testimonial-header {
    align-items: center;
    height: 74px;
    margin-bottom: 17px;
}

.testimonial-header div {
    margin-right: 10px;
}

.testimonial-header span {
    font-size: 90%;
}

.blog {
    padding: 90px 0 52px 0;
}

.blog h2 {
    margin-bottom: 6px;
    font-weight: 700;
}

.blog p {
    width: 650px;
    font-size: 128%;
    line-height: 165%;
    margin-bottom: 62px;
}

.blog-posts {
    position: relative;
    height: 440px;
    overflow: hidden;
}

.blog-posts-slider {
    position: absolute;
    transition: left 3000ms ease;
    left: 0;
}

.blog-posts article {
    flex: 0 0 357px;
    margin-right: 20px;
}

.blog-posts h3 {
    font-size: 162%;
}

.blog-posts h3, .blog-posts article {
    line-height: 124%;
}

.blog-post-img {
    margin-bottom: 27px;
}

.blog-post-author span {
    font-size: 90%;
} 

.blog-post-author {
    line-height: 117%;
    align-items: center;
    margin-top: 24px;
}

.blog-post-author img {
    margin-right: 16px;
}

.blog-buttons {
    margin: 76px auto 0 auto;
    width: fit-content;
}

.blog-buttons span {
    font-size: 100%;
    cursor: pointer;
    user-select: none;
}

.blog-buttons span:first-child {
    color: #f26200;
}

.clients div {
    margin: 0 30px 89px 0;
}

.clients img {
    width: 100%;
}

footer .wrapper {
    align-items: center;
    flex-direction: column;
}

.footer-main-contents {
    padding: 140px 0 160px 0;
    align-self: flex-start;
}

.footer-main-contents div:first-child {
    width: 245px;
}

.footer-main-contents div:last-child {
    margin: 0;
}

.footer-main-contents div {
    line-height: 155%;
    font-size: 107%;
    margin-right: 140px;
}

.footer-main-contents a {
    margin-bottom: 13px;
    display: block;
    transition: 0.3s;
}

.footer-main-contents a:hover {
    color: #000;
}

.footer-logos {
    color: #f26200;
    padding-bottom: 60px;
}

.footer-logos a {
    font-size: 91%;
    transition: 0.2s;
}

.footer-logos a:hover {
    color: #a64300;
}

.flaticon-twitter {
    margin-top: 3px;
}

.flaticon-instagram {
    margin-top: 1px;
}

footer .wrapper span {
    padding: 0 0 75px 25px;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 917px;
    }

    .header-content {
        max-width: 530px;
        margin-top: 75px;
    }

    .blog-posts article {
        flex: 0 0 292px;
    }

    .footer-main-contents div {
        margin-right: 90px;
    }
}

@media (max-width: 995px) {
    .wrapper {
        max-width: 688px;
    }

    header nav {
        padding-top: 52px;
    }

    .main-nav {
        display: none;
    }

    nav .menu-icon {
        display: inline-block;
        color: #f26200;
        font-size: 175%;
        cursor: pointer;
        user-select: none;
    }

    nav div {
        background: #fff;
        color: #212529;
        padding: 36px 20px 40px 40px;
        width: 300px;
        font-size: 127%;
        height: 100%;
        position: fixed;
        right: -300px;
        top: 0;
        box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
        transition: right 400ms ease;
    }

    header nav li a {
        color: #212529;
    }

    nav li:first-child {
        display: block;
        text-align: end;
        padding: 0;
    }

    header nav li:nth-child(2) a, nav li a:hover  {
        color: #f26200;
    }

    nav li:first-child span {
        color:#757575;
        font-size: 150%;
        cursor: pointer;
        user-select: none;
    }

    header nav li {
        width: 240px;
        padding: 12px 0;
        transition: 0.3s;
    }

    .header-content {
        max-width: 676px;
        margin-top: 86px;
    }

    .header-content h1 {
        font-size: 200%;
    }

    .principles .wrapper div {
        margin-right: 32px;
    }

    .portfolio-images {
        grid-template-columns: 1fr 1fr;
    }
    
    .testimonials .wrapper {
        flex-direction: column;
    }

    .testimonial-header {
        justify-content: space-between;
    }

    .testimonials article {
        margin: 0;
    }

    .blog p {
        width: 395px;
    }

    .blog-posts article {
        flex: 0 0 334px;
    }

    .blog-buttons span:nth-child(3) {
        display: inline-block;
    } 
}